## --- Visual Studio & .NET ---
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.opendb
*.ide
*.DotSettings.user
appsettings.Production.json
appsettings.Local.json

## --- Angular & Node.js ---
node_modules/
.angular/
dist/
tmp/
out-tsc/
bazel-out/
.sass-cache/
connect.lock
coverage/
*.lcov
.nyc_output

## --- IDEs & Edytory ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.sublime-project
*.sublime-workspace

## --- Środowisko & System ---
.env
.env.*
!.env.example
Thumbs.db
.DS_Store